<ion-view view-title="Search" hide-back-button="true">
    <ion-content>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item item-input item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="search.string" placeholder="Search">
                </label>
                <button on-tap="controller.getShows()" class="button button-clear">Search</button>
            </div>
        </div>
        <div class="list list-inset">
            <div
                ng-repeat="show in shows"
                ui-sref="show({ showID: show.id })">
                <div class="item item-thumbnail-left item-button-right">
                    <img src=""/>
                    <h2>{{ show.name }}</h2>
                    <p>{{ show.fromYear }} - {{show.toYear > 0 ? show.toYear : 'in Progress' }}</p>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
