<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" id="reverse.domain.name" version="1.0.0-dev">
  <name>Show Manager</name>
  <description>Easily start an Ionic app</description>
  <author href="https://twitter.com/fingerproof" email="sp@fing.pro">
    Sebastien Pittion
  </author>
  <author href="https://www.linkedin.com/in/r%C3%A9mi-gattaz-0a02094b" email="remi.gattaz@gmail.com">
    Rémi GATTAZ
  </author>
  <content src="index.html"/>
  <allow-navigation href="*"/>
  <preference name="phonegap-version" value="cli-5.2.0"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="orientation" value="portrait"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon gap:platform="ios" src="resources/ios/icon/icon.png" width="57" height="57"/>
  <icon gap:platform="android" src="resources/android/icon/icon.png" gap:qualifier="ldpi"/>
</widget>
